{% extends "layout/base.html "%}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/quizList.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<h1>Quizes Lists</h1>
<!-- Modal -->
<!-- Button trigger modal -->
<div class="row">
  <div class="col-lg-5">
    {% for obj in quiz %}
            <button
            class="btn btn-link modal-button"
            data-pk="{{ obj.pk }}"
            data-quiz="{{ obj.name }}"
            data-questions="{{ obj.numbers_of_questions }}"
            data-difficulty="{{ obj.difficulty }}"
            data-time="{{ obj.time }}"
            data-pass="{{ obj.required_score_to_pass }}"
            data-bs-toggle="modal"
            data-bs-target="#quizStartModal">
                {{ obj.name }}
            </button>
        {% endfor %}
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="quizStartModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="quizStartModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body-confirm">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button type="button" id="start-quiz" class="btn btn-success">Start</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}