{% extends "layout/base.html "%}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/quiz_Main.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<div class="container">
    <h3>{{ obj.name }}</h3>
    <div class="d-flex row justify-content-between">
        <div class="col-lg-11">
            <p>Score to pass: <b>{{ obj.required_score_to_pass }} or more</b></p>
        </div>
        <div class="col" id="timer-box">
            Timer
        </div>
    </div>
    <a href="{% url 'index' %}" class="btn btn-sm btn-danger">Back</a>
    <form id="quiz-form" class="mt-3 mb-3">
        {% csrf_token %}
        <div id="quiz-box"></div>
        <div class="row float-end">
            <button type="submit" id="btn-submit" class="btn btn-success mt-3">Save</button>
        </div>
    </form>
    <div id="score-box"></div>
    <div id="result-box"></div>
</div>
{% endblock content %}