{% extends "layout/base.html "%}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/quiz_Main.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<div class="container">
    <h1>{{ obj.name }}</h1>
    <p>Score to pass: {{ obj.required_score_to_pass }}</p>
    <form id="quiz-form" class="mt-3 mb-3">
        {% csrf_token %}
        <div id="quiz-box"></div>
        <button type="submit" class="btn btn-success mt-3">Save</button>
    </form>
    <div id="score-box"></div>
    <div id="result-box"></div>
</div>
{% endblock content %}